@import "vars";
@import "mixins";
@import "fonts";
@import "vendor/reset";

html {
  box-sizing: border-box;
  font-size: calc(100vw / 1400 * 10);

  // @include breakpoint($ssh-bp) {
  //   font-size: calc(100vw / 1600 * 10);
  // }

  // @include breakpoint($cos-bp) {
  //   font-size: calc(100vw / 1330 * 10);
  // }

  @include breakpoint($xl-bp) {
    font-size: calc(100vw / 1200 * 10);
  }

  @include breakpoint($jb-bp) {
    font-size: calc(100vw / 850 * 10);
  }

  // @include breakpoint($lb-bp) {
  //   font-size: calc(100vw / 650 * 10);
  // }

  @include breakpoint($sm-bp) {
    font-size: calc(100vw / 320 * 10);
  }

}



*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik';
  font-style: normal;

}


img {
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}


svg {
  transition: all 0.1s linear;
}

.pagePadding {
  padding-left: 4rem;
  padding-right: 4rem;

  @include breakpoint($jb-bp) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @include breakpoint($sm-bp) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

h2 {
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 7rem;
  text-transform: uppercase;
  color: #15112B;

  @include breakpoint($sm-bp) {
    font-size: 2.5rem;
    line-height: 3.1rem;
  }
}

h3 {
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.6rem;
  text-transform: uppercase;
  color: #15112B;

  @include breakpoint($sm-bp) {
      font-size: 2rem;
      line-height: 2.8rem;
  }
}



@import './blocks/header.scss';
@import './blocks/swiper.scss';
@import './blocks/footer.scss';
@import './blocks/main.scss';
@import './blocks/article.scss';