.header-content__phoneContainer {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    text-decoration: none;

    @include breakpoint($xl-bp) {
        display: none;
    }

    svg {
        width: 2rem;
        height: 2rem;
    }

    p {
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.4rem;
        color: #15112B;
    }
}

.header-content {
    display: flex;
    gap: 3.7rem;
    align-items: center;
    padding-top: 3.1rem;

    @include breakpoint($xl-bp) {
        justify-content: space-between;
    }

    @include breakpoint($sm-bp) {
        padding-top: 1rem;
    }

    .header-content__logo {
        stroke: black;
        width: 21.7rem;
        height: 7.9rem;

        @include breakpoint($jb-bp) {
            width: 11.7rem;
            height: 5.9rem;
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .header-content__menuContainer {
        display: flex;
        gap: 3.7rem;

        ul {
            display: flex;
            gap: 2.2rem;

            @include breakpoint($xl-bp) {
                display: none;
            }

            a {
                font-weight: 400;
                font-size: 1.8rem;
                line-height: 2.4rem;
                color: #15112B;
                text-decoration: none;
            }
        }
    }

    .header-content__burgerBtn {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        width: 4.8rem;
        background: none;
        border: none;

        @media (min-width: 1024px) {
            display: none;
        }

        @include breakpoint($sm-bp) {
            width: 2.8rem;
        }

        div {
            width: 100%;
            height: 0.5rem;
            background: #210616;

            @include breakpoint($sm-bp) {
                height: 0.2rem;
            }
        }
    }
}

.header-modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease;

    .header-modal__logo {
        display: block;
        width: 21rem;
        height: 12rem;

        @include breakpoint($jb-bp) {
            width: 12rem;
            height: 7rem;
        }
    
        svg {
            width: 100%;
            height: 100%;
            stroke: black;
        }
    }

    .header-modal__content {
        width: 100%;
        height: min-content;
        background: #FFFFFF;
        border-radius: 0px 0px 3rem 3rem;
        padding-top: 3.1rem;
        padding-bottom: 3.1rem;
        transform: translateY(-50px);
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
       

        ul {
            margin-top: 3rem;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            @include breakpoint($jb-bp) {
                margin-top: 2rem;
            }

            li {
                a {
                    font-weight: 400;
                    font-size: 2.4rem;
                    line-height: 2.4rem;
                    color: #15112B;
                    text-decoration: none;

                    @include breakpoint($jb-bp) {
                        font-size: 2.2rem;
                        line-height: 2rem;
                    }

                }
            }
        }

        .header-modal__phoneContainer {
            font-weight: 500;
            font-size: 2rem;
            line-height: 2.6rem;
            color: #15112B;
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 1rem;

            margin-top: 2rem;

            svg {
                width: 2.4rem;
                height: 2.4rem;
            }
        }

        button {
            margin-top: 2rem;
        }

        .close {
            color: #B89FFF;
            float: right;
            font-size: 6rem;
            cursor: pointer;
            line-height: 4rem;


            &:hover,
            &:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}

.header-modal.open {
    opacity: 1;

    .header-modal__content {
        transform: translateY(0);
        opacity: 1;
    }
}