.whiteBtn {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #15112B;
    padding: 1.5rem 2rem;
    border: 0.1rem solid #15112B;
    border-radius: 5rem;
    background: none;

    @include breakpoint($xl-bp) {
        font-size: 1.8rem;
        line-height: 2.6rem;
    }

    @include breakpoint($sm-bp) {
        font-size: 1.4rem;
        line-height: 2rem;
        padding: 1.5rem 1.5rem;
    }
}

.musicalSchool {
    margin-top: 6.8rem;

    @include breakpoint($xl-bp) {
        margin-top: 3.2rem;
    }

    h1 {
        font-family: 'Unbounded';
        font-weight: 700;
        font-size: 8.6rem;
        line-height: 9rem;
        text-transform: uppercase;
        color: #15112B;

        @include breakpoint($jb-bp) {
            font-size: 5.6rem;
            line-height: 6rem;
        }

        @include breakpoint($sm-bp) {
            font-size: 3.8rem;
            line-height: 4.4rem;
        }
    }

    .musicalSchool-text {
        margin-top: 4rem;
        display: flex;
        align-items: center;
        gap: 6.1rem;

        @include breakpoint($jb-bp) {
            flex-direction: column;
            align-items: baseline;
            gap: 3.2rem;
        }

        @include breakpoint($sm-bp) {
            margin-top: 2.4rem;
        }

        p {
            font-weight: 400;
            font-size: 2rem;
            line-height: 3rem;
            text-transform: uppercase;
            color: #262433;

            @include breakpoint($sm-bp) {
                font-size: 1.4rem;
                line-height: 2rem;
            }
    
        }
    }

    .musicalSchool-services {
        position: relative;
        margin-top: 4.8rem;

        @include breakpoint($jb-bp) {
            display: flex;
            flex-direction: column-reverse;
        }

        @include breakpoint($sm-bp) {
            margin-top: 4rem;
        }

        img {
            border-radius: 4rem;
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            z-index: -1;

            @include breakpoint($jb-bp) {
                position: unset;
                z-index: 0;
                margin-top: 2rem;
            }

            @include breakpoint($sm-bp) {
                margin-top: 1.6rem;
            }
        }

        .musicalSchool-services__content {
            display: flex;
            gap: 1.6rem;
            justify-content: end;
            padding-top: 4rem;
            padding-right: 4rem;
            height: 61.1rem;

            @include breakpoint($jb-bp) {
                height: unset;
                justify-content: unset;
                padding-top: 0rem;
            }

            @include breakpoint($sm-bp) {
                padding-right: 0rem;
            }

            .musicalSchool-services__contentItem {
                width: 12.4rem;
                height: 11.5rem;
                position: relative;

                @include breakpoint($sm-bp) {
                    height: 7.5rem;
                }

                svg {
                    width: 100%;
                    height: 100%;
                }

                p {
                    font-family: 'Unbounded';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 1.6rem;
                    line-height: 2.2rem;
                    text-align: center;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    position: absolute;
                    top: 40%;
                    left: 20%;

                    @include breakpoint($sm-bp) {
                        font-size: 1rem;
                        line-height: 1.2rem;
                        top: 45%;
                    }
                }
            }

            .musicalSchool-services__contentItem:last-child {
                width: 17.9rem;
                height: 11.5rem;

                @include breakpoint($sm-bp) {
                    height: 7rem;
                }

                p {
                    top: 29%;
                    left: 0%;

                    @include breakpoint($sm-bp) {
                        top: 41%;
                    }
                }
            }
        }
    }
}

.mission {
    margin-top: 15.5rem;
    padding-right: 4rem;

    @include breakpoint($xl-bp) {
        margin-top: 10rem;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    @include breakpoint($sm-bp) {
        margin-top: 6.4rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    .mission-content {
        display: flex;
        gap: 1.2rem;

        @include breakpoint($jb-bp) {
            flex-direction: column-reverse;
            gap: 3.2rem;
        }

        @include breakpoint($sm-bp) {
            gap: 2.8;
        }

        .mission-content__imgContainer {
            display: flex;
            flex-direction: column;
            width: 45.9rem;
            position: relative;

            @include breakpoint($jb-bp) {
                width: 100%;
                flex-direction: unset;
                flex-wrap: wrap;
            }

            @include breakpoint($sm-bp) {
                display: flex;
                flex-direction: column;
                height: 55rem;
            }

            .mission-content__img {
                width: 90%;
                position: absolute;

                @include breakpoint($jb-bp) {
                    width: 50%;
                    position: unset;
                }

                @include breakpoint($sm-bp) {
                    width: 100%;
                    position: absolute;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .mission-content__img:first-child {
                rotate: 7deg;
                top: -3.6%;
                z-index: 0;

                @include breakpoint($jb-bp) {
                    rotate: 0deg;
                    top: 0%;
                }

                @include breakpoint($sm-bp) {
                    rotate: 7deg;
                    top: -3.6%;
                    z-index: 0;
                }
            }

            .mission-content__img:nth-child(2) {
                top: 24%;
                rotate: -14deg;
                right: 5%;
                z-index: 1;

                @include breakpoint($jb-bp) {
                    rotate: 0deg;
                    top: 0%;
                }

                @include breakpoint($sm-bp) {
                    top: 24%;
                    rotate: -14deg;
                    right: 5%;
                    z-index: 1;
                }
            }

            .mission-content__img:last-child {
                top: 57%;
                rotate: 7deg;
                right: 5%;
                z-index: 0;

                @include breakpoint($jb-bp) {
                    rotate: 0deg;
                    top: 0%;
                }

                @include breakpoint($sm-bp) {
                    top: 54%;
                    rotate: 7deg;
                    right: 5%;
                    z-index: 0;
                }
            }
        }

        .mission-content__textContainer {
            // width: 88.9rem;
            // margin-right: 11.8rem;
            width: 77.1rem;

            @include breakpoint($jb-bp) {
                width: 100%;
            }

            .mission-content__text {
                margin-top: 7.2rem;
                display: flex;
                flex-direction: column;
                gap: 2.4rem;

                @include breakpoint($xl-bp) {
                    margin-top: 2rem;
                }

                @include breakpoint($sm-bp) {
                    margin-top: 3.2rem;
                    gap: 1.6rem;
                }

                p {
                    font-weight: 400;
                    font-size: 1.8rem;
                    line-height: 2.4rem;
                    color: #262433;
                    padding-left: 2.4rem;

                    @include breakpoint($xl-bp) {
                        padding-left: 0rem;
                    }

                    @include breakpoint($sm-bp) {
                        font-size: 1.4rem;
                        line-height: 2rem;
                    }
                }

                .mission-content__text_pink {
                    background: #DACDFF;
                    border-radius: 4rem;
                    font-weight: 400;
                    font-size: 2rem;
                    line-height: 3rem;
                    text-transform: uppercase;
                    color: #262433;
                    padding: 2rem 3.4rem 2rem 2.4rem;

                    @include breakpoint($sm-bp) {
                        padding: 1.6rem 1.2rem;
                        font-size: 1.4rem;
                        line-height: 2rem;
                    }
                }

                button {
                    width: fit-content;
                    margin-top: 2.4rem;
                    margin-left: 2.4rem;

                    @include breakpoint($xl-bp) {
                        margin-left: 0rem;
                        margin-top: 0rem;
                    }
                }

            }
        }
    }
}

.ourSchool {
    margin-top: 13.8rem;

    @include breakpoint($xl-bp) {
        margin-top: 10rem;
    }

    @include breakpoint($sm-bp) {
        margin-top: 3.2rem;
    }

    .ourSchool-content {
        display: flex;
        gap: 9.3rem;

        @include breakpoint($xl-bp) {
            flex-direction: column;
            gap: 3rem;
            align-items: center;
        }

        .ourSchool-content__textBlock {
            width: 55%;

            @include breakpoint($xl-bp) {
                width: 100%;
            }

            .ourSchool-content__text {
                margin-top: 7.2rem;
                display: flex;
                flex-direction: column;
                gap: 1.6rem;

                @include breakpoint($xl-bp) {
                    margin-top: 3rem;
                }
                

                p {
                    font-weight: 400;
                    font-size: 1.8rem;
                    line-height: 2.4rem;
                    color: #262433;

                    @include breakpoint($xl-bp) {
                        font-size: 2.2rem;
                        line-height: 2.8rem;
                    }

                    @include breakpoint($sm-bp) {
                        font-size: 1.4rem;
                        line-height: 2rem;
                    }

                    &:last-child {
                        font-size: 2rem;
                        line-height: 3rem;
                        text-transform: uppercase;

                        @include breakpoint($sm-bp) {
                            font-size: 1.4rem;
                            line-height: 2rem;
                        }
                    }
                }


            }
        }

        .ourSchool-content__imgBlock {
            width: 41%;

            @include breakpoint($xl-bp) {
                width: 50%;
            }

            @include breakpoint($sm-bp) {
                width: 100%;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .ourSchool-videoBlock {
        display: flex;
        margin-top: 6.5rem;
        gap: 3rem;

        @include breakpoint($sm-bp) {
            margin-top: 4rem;
            flex-direction: column;
            gap: 1.6rem;
        }

        .ourSchool-videoBlock__video {
            border-radius: 4rem;
            overflow: hidden;
            width: 57.2%;

            @include breakpoint($sm-bp) {
                width: 100%;
                border-radius: 3rem;
            }

            video {
                width: 100%;
            }
        }

        .ourSchool-videoBlock__img {
            width: 40.5%;

            @include breakpoint($sm-bp) {
                width: 100%;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.trialLesson {
    margin-top: 14rem;

    @include breakpoint($xl-bp) {
        margin-top: 10rem;
    }

    @include breakpoint($sm-bp) {
        margin-top: 6.4rem;
    }

    .trialLesson-content {
        padding: 6.4rem;
        background: #DACDFF;
        border-radius: 4rem;
        position: relative;

        @include breakpoint($xl-bp) {
            padding: 2.5rem;
        }

        @include breakpoint($jb-bp) {
            padding-bottom: 16rem;
        }

        @include breakpoint($sm-bp) {
            padding: 4rem 1.7rem 8rem 1.7rem;
        }

        button {
            background: #E9F795;
            border: none;
            margin-top: 6.4rem;

            @include breakpoint($sm-bp) {
                margin-top: 4rem;
                width: 100%;
            }
        }

        .musicalSchool-services__contentItem {
            width: 12.4rem;
            height: 11.5rem;
            position: absolute;

            @include breakpoint($sm-bp) {
                width: 7rem;
                height: 5rem;
            }

            svg {
                width: 100%;
                height: 100%;
            }

            p {
                font-family: 'Unbounded';
                font-style: normal;
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 2.2rem;
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;
                position: absolute;
                top: 40%;
                left: 20%;

                @include breakpoint($sm-bp) {
                    font-size: 0.8rem;
                    line-height: 1.2rem;
                    left: 24%;
                }
            }
        }

        .musicalSchool-services__contentItem:first-of-type {
            top: 15%;
            right: 3%;

            @include breakpoint($xl-bp) {
                top: 45%;
            }

            @include breakpoint($jb-bp) {
                top: unset;
                bottom: 0;
                right: 0;
                left: 3%;
            }

            @include breakpoint($sm-bp) {
                left: 6%;
            }
        }

        .musicalSchool-services__contentItem:nth-of-type(2) {
            top: 55%;
            right: 17%;

            @include breakpoint($jb-bp) {
                top: unset;
                bottom: 0;
                right: 0;
                left: 21%;
            }

            @include breakpoint($sm-bp) {
                left: 69%;
            }
        }

        .musicalSchool-services__contentItem:last-of-type {
            bottom: 0;
            right: 40%;
            width: 17.4rem;

            @include breakpoint($jb-bp) {
                top: unset;
                bottom: 0;
                right: 0;
                left: 39%;
            }

            @include breakpoint($sm-bp) {
                left: 36%;
                width: 7.4rem;
            }

            p {
                left: 5%;

                @include breakpoint($sm-bp) {
                    left: 2%;
                    top: 33%;
                }
            }
        }
    }
}

.ourTeachers-titleArrows {
    display: flex;
    justify-content: space-between;
    align-items: end;

    .ourTeachers-content__arrows {
        display: none;
    }
}

.ourTeachers-content__arrows {
    display: flex;
    gap: 1.2rem;

    @include breakpoint($sm-bp) {
        justify-content: center;
    }

    button {
        background: none;
        border: 0.1rem solid #15112B;
        border-radius: 50%;
        width: 5.7rem;
        height: 5.7rem;

        svg {
            fill: transparent;
            width: 0.85rem;
            height: 1.7rem;
        }
    }

    button:first-child {
        svg {
            rotate: 180deg;
        }
    }

    .swiper-button-disabled {
        opacity: 0.6;
    }
}

.ourTeachers {
    margin-top: 14rem;

    @include breakpoint($xl-bp) {
        margin-top: 10rem;
    }

    @include breakpoint($sm-bp) {
        margin-top: 6.4rem;
    }

    .ourTeachers-content {



        .ourTeachersSwiper {
            margin-top: 7.2rem;

            @include breakpoint($sm-bp) {
                margin-top: 3.2rem;
            }

            .ourTeachers-content__swiperContainer {

                .ourTeachers-content__swiperImg {

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .ourTeachers-content__swiperTitle {
                    margin-top: 4.3rem;
                    font-family: 'Unbounded';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 2.4rem;
                    line-height: 2.6rem;
                    text-align: center;
                    text-transform: uppercase;
                    color: #15112B;

                    @include breakpoint($sm-bp) {
                        margin-top: 2.4rem;
                        font-size: 1.8rem;
                        line-height: 2rem;
                    }
                }

                .ourTeachers-content__swiperSubtitle {
                    margin-top: 1.2rem;
                    font-weight: 400;
                    font-size: 1.8rem;
                    line-height: 2.4rem;
                    text-align: center;
                    color: #262433;

                    @include breakpoint($sm-bp) {
                        font-size: 1.4rem;
                        line-height: 2rem;
                    }
                }
            }
        }
    }
}

.reviews {
    margin-top: 14rem;

    @include breakpoint($xl-bp) {
        margin-top: 10rem;
    }

    @include breakpoint($sm-bp) {
        margin-top: 6.4rem;
    }

    .reviews-content {
        .reviews-content__titleArrows {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include breakpoint($sm-bp) {
                flex-direction: column;
                align-items: baseline;
                gap: 2rem;
            }


        }


    }

    .reviewsSwiper {
        margin-top: 7.2rem;

        @include breakpoint($xl-bp) {
            margin-top: 3.2rem;
        }

        .reviews-content__swiperContainer {
            background: #F8F8F8;
            border-radius: 4rem;
            padding: 3.2rem;

            @include breakpoint($xl-bp) {
                padding: 2.5rem;
            }

            @include breakpoint($sm-bp) {
                padding: 2.6rem 1.5rem 4.6rem 1.5rem;
            }

            .reviews-content__swiperTitle {
                font-weight: 400;
                font-size: 1.8rem;
                line-height: 2.4rem;
                color: #15112B;

                @include breakpoint($xl-bp) {
                    font-size: 2.4rem;
                    line-height: 2.6rem;
                }

                @include breakpoint($sm-bp) {
                    font-size: 1.6rem;
                    line-height: 2.2rem;
                }
            }

            .reviews-content__swiperSubtitle {
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 2rem;
                color: #262433;
                margin-top: 1.6rem;

                @include breakpoint($xl-bp) {
                    font-size: 1.8rem;
                    line-height: 2.4rem;
                }

                @include breakpoint($sm-bp) {
                    font-size: 1.4rem;
                    line-height: 2rem;
                }
            }
        }

        .reviewsSwiper-pagination {
            display: flex;
            justify-content: center;
            margin-top: 3.2rem;

            .swiper-pagination-bullet-active {
                background: #15112B;
            }
        }
    }
}

.price {
    margin-top: 14rem;

    @include breakpoint($xl-bp) {
        margin-top: 10rem;
    }

    @include breakpoint($sm-bp) {
        margin-top: 6.4rem;
    }

    .price-content {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;

        .price-content__item {
            display: flex;
            gap: 5.8rem;
            padding: 4rem;
            background: #F8F8F8;
            border-radius: 4rem;
            width: 48.5%;

            @include breakpoint($xl-bp) {
                padding: 2.5rem;
                gap: 2rem;
            }

            @include breakpoint($jb-bp) {
                width: 100%;
                justify-content: space-between;
            }

            @include breakpoint($sm-bp) {
                padding: 3rem 2rem 3.5rem 2rem;
                flex-direction: column-reverse;
                align-items: center;
            }

            .price-content__itemText {
                display: flex;
                flex-direction: column;
                width: 64%;

                @include breakpoint($sm-bp) {
                    width: 100%;
                    align-items: center;
                }

                .price-content__itemTitle {
                    font-family: 'Unbounded';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 2.4rem;
                    line-height: 2.6rem;
                    text-transform: uppercase;
                    color: #7BC1F4;

                    @include breakpoint($sm-bp) {
                        text-align: center;
                        font-size: 1.8rem;
                        line-height: 2rem;
                    }
                }

                .price-content__itemSubtitle {
                    font-weight: 400;
                    font-size: 1.8rem;
                    line-height: 2.4rem;
                    color: #262433;
                    margin-top: 2.4rem;

                    @include breakpoint($sm-bp) {
                        margin-top: 1.2rem;
                        text-align: center;
                        font-size: 1.4rem;
                        line-height: 2rem;
                    }
                }

                button {
                    margin-top: 3rem;
                    width: fit-content;
                }

            }

            .price-content__itemImg {
                width: 32%;
                border-radius: 20rem;
                overflow: hidden;

                @include breakpoint($jb-bp) {
                    width: 22%;
                }

                @include breakpoint($sm-bp) {
                    width: 55%;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

        }

        .price-content__item:first-child {
            background: none;
            border-radius: unset;
            padding: 0rem;
        }

        .price-content__item:nth-child(2) {

            .price-content__itemImg {
                border: 0.3rem solid #7BC1F4;
            }

        }

        .price-content__item:nth-child(3) {

            .price-content__itemTitle {
                color: #ED70AE;
            }

            .price-content__itemImg {
                border: 0.3rem solid #ED70AE;
            }

        }

        .price-content__item:last-child {

            .price-content__itemTitle {
                color: #B89FFF;
            }

            .price-content__itemImg {
                border: 0.3rem solid #B89FFF;
            }

        }
    }

    .price-discount {
        padding: 1.1rem 0rem;
        background: #B89FFF;
        border-radius: 4rem;
        margin-top: 3.4rem;

        @include breakpoint($sm-bp) {
            margin-top: 2.2rem;
            padding: 1.6rem 1.9rem;
            border-radius: 2rem;
        }

        p {
            font-weight: 400;
            font-size: 2rem;
            line-height: 3rem;
            text-transform: uppercase;
            text-align: center;
            color: #FFFFFF;

            @include breakpoint($sm-bp) {
                font-size: 1.4rem;
                line-height: 2rem;
                text-align: start;
            }
        }
    }
}

.students {
    margin-top: 14rem;

    @include breakpoint($xl-bp) {
        margin-top: 10rem;
    }

    @include breakpoint($sm-bp) {
        margin-top: 6.4rem;
    }

    .ourTeachers-titleArrows {
        @include breakpoint($jb-bp) {
            flex-direction: column;
            gap: 2rem;
        }

    }

    .students-swiper {
        margin-top: 7.2rem;

        @include breakpoint($jb-bp) {
            margin-top: 3.2rem;
        }

        .students-swiper__container {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .studentsSwiper-pagination {
            display: flex;
            justify-content: center;
            margin-top: 3.2rem;

            @include breakpoint($sm-bp) {
                margin-top: 2rem;
            }

            .swiper-pagination-bullet-active {
                background: #15112B;
            }
        }
    }
}

.blog {
    margin-top: 14rem;

    @include breakpoint($xl-bp) {
        margin-top: 10rem;
    }

    @include breakpoint($sm-bp) {
        margin-top: 6.4rem;
    }


    .blog-content {
        display: flex;
        gap: 2.2rem;
        margin-top: 7.2rem;

        @include breakpoint($xl-bp) {
            margin-top: 3.2rem;
        }

        @include breakpoint($sm-bp) {
            display: none;
        }

        .blog-content__item {
            padding: 2.8rem 3.8rem 4.2rem 3.9rem;
            background: #F8F8F8;
            border: 0.1rem solid #F8F8F8;
            border-radius: 4rem;
            width: 32.9%;
            text-decoration: none;

            @include breakpoint($xl-bp) {
                padding: 2.5rem;
            }

            .blog-content__itemImg {
                width: 13.86%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            p {
                font-weight: 400;
                font-size: 2rem;
                line-height: 3rem;
                text-transform: uppercase;
                color: #15112B;
                margin-top: 1.6rem;
            }
        }
    }
}

.trialForm {
    margin-top: 14rem;

    @include breakpoint($xl-bp) {
        margin-top: 10rem;
    }

    @include breakpoint($sm-bp) {
        margin-top: 6.4rem;
    }

    .trialForm-content {
        border-radius: 4rem;
        display: flex;
        overflow: hidden;

        form {
            padding: 6.4rem 8.7rem 6rem 6.4rem;
            background: #E9F795;

            @include breakpoint($xl-bp) {
                padding: 3rem;
            }

            @include breakpoint($sm-bp) {
                padding: 4rem 1.7rem;
            }

            h2 {
                @include breakpoint($sm-bp) {
                    text-align: center;
                }
            }

            .trialForm-content__inputContainer {
                margin-top: 3.8rem;
                display: flex;
                flex-direction: column;
                gap: 1.6rem;
                width: 93.812%;

                @include breakpoint($jb-bp) {
                    width: 100%;
                }

                @include breakpoint($sm-bp) {
                    margin-top: 3.2rem;
                    gap: 1.2rem;
                }

                input,
                .trialForm-content__customSelect {
                    background: #F4FBCA;
                    border-radius: 3rem;
                    padding: 1.7rem 2.8rem;
                    outline: none;
                    border: none;

                    font-weight: 400;
                    font-size: 1.8rem;
                    line-height: 2.4rem;
                    color: #262433;

                    @include breakpoint($sm-bp) {
                        width: 100%;
                        padding: 1.6rem 1.6rem 1.5rem 1.6rem;
                        font-size: 1.4rem;
                        line-height: 2rem;
                    }
                }
            }

            button {
                margin-top: 4rem;
                width: 93.812%;

                @include breakpoint($jb-bp) {
                    width: 100%;
                }

                @include breakpoint($sm-bp) {
                    margin-top: 2.8rem;
                }
            }

            .trialForm-content__confidence {
                margin-top: 2rem;
                width: 93.812%;
                font-weight: 400;
                font-size: 1.2rem;
                line-height: 1.6rem;
                color: #15112B;

                @include breakpoint($jb-bp) {
                    font-size: 1.6rem;
                    line-height: 2rem;
                    width: 100%;
                }

                @include breakpoint($sm-bp) {
                    margin-top: 1.2rem;
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                }

                a {
                    font-weight: 400;
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                    color: #15112B;

                    @include breakpoint($jb-bp) {
                        font-size: 1.6rem;
                        line-height: 2rem;
                    }

                    @include breakpoint($sm-bp) {
                        font-size: 1.2rem;
                        line-height: 1.6rem;
                    }
                }
            }
        }

        .trialForm-content__imgContainer {
            width: 93.295%;

            @include breakpoint($jb-bp) {
                display: none;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

}


.trialForm-content__customSelect {
    position: relative;

    select {
        display: none;
    }

    .trialForm-content__selectTriggerContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        .trialForm-content__selectTrigger {
            display: flex;
        }

        .arrow {
            border: solid #15112B;
            border-width: 0 0.2rem 0.2rem 0;
            display: inline-block;
            padding: 0.6rem;
            transform: rotate(45deg);

            @include breakpoint($sm-bp) {
                padding: 0.4rem;
            }
        }

        .activeArrow {
            transform: rotate(-135deg);
        }
    }

    .trialForm-content__selectOptions {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        list-style: none;
        display: none;
        padding: 1.6rem 0rem 1.6rem 0rem;
        transition: all 0.2s linear;

        background: #F4FBCA;
        border-radius: 3rem;

        li {
            padding: 1rem 2.8rem;
            cursor: pointer;

            @include breakpoint($sm-bp) {
                padding: 0.5rem 1.6rem;
            }

            &:first-child {
                padding-top: 0rem;
            }

            &:last-child {
                padding-bottom: 0rem;
            }

            // &:hover {
            //     background-color: #f2f2f2;
            // }
        }
    }

}

.schedule {
    margin-top: 19.6rem;

    padding-left: 4rem;
    padding-right: 4rem;

    @include breakpoint($xl-bp) {
        margin-top: 10rem;
    }

    @include breakpoint($jb-bp) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @include breakpoint($sm-bp) {
        margin-top: 6.4rem;
        padding: 0rem;
    }

    .schedule-content {
        background: #F8F8F8;
        border-radius: 4rem;
        padding: 5.6rem;

        @include breakpoint($xl-bp) {
            padding: 2.5rem;
        }

        @include breakpoint($sm-bp) {
            margin-top: 6.4rem;
            padding: 4rem 0rem;
        }

        h2 {
            text-align: center;
        }
    
        table {
            margin-top: 2rem;
            display: block;
            overflow-x: scroll;
            cursor: grab;
    
            tr {
    
                &:first-child {
                    background: #DACDFF;
                    border-radius: 3rem;
    
                    th {
                        font-family: 'Unbounded';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 1.6rem;
                        line-height: 2.2rem;
                        text-transform: uppercase;
                        color: #15112B;
                        padding: 0.9rem 0rem 0.8rem 0rem;
                        text-align: inherit;
                        min-width: 21rem;

                        @include breakpoint($sm-bp) {
                            font-size: 1.4rem;
                            line-height: 1.8rem;
                        }
                    }
    
                    th:first-child,
                    td:first-child {
                        border-top-left-radius: 3rem;
                        border-bottom-left-radius: 3rem;
                        padding-left: 3.2rem;

                        @include breakpoint($sm-bp) {
                            padding-left: 1.5rem;
                        }
                    }

                    
    
                    th:last-child,
                    td:last-child {
                        border-top-right-radius: 3rem;
                        border-bottom-right-radius: 3rem;
                    }
    
                    td {
                        padding-top: 2rem;
                    }
                }
    
                td {
                    font-weight: 400;
                    font-size: 1.8rem;
                    line-height: 2.4rem;
                    color: #262433;

                    @include breakpoint($sm-bp) {
                        font-size: 1.4rem;
                        line-height: 2rem;
                    }
                }
    
            }
    
            td:first-child {
                padding-left: 3.2rem;

                @include breakpoint($sm-bp) {
                    padding-left: 1.5rem;
                }
                
            }
    
            td {
                max-width: 30rem;

                @include breakpoint($jb-bp) {
                    padding-top: 2rem;
                }
    
                span {
                    font-weight: 400;
                    font-size: 1.8rem;
                    line-height: 2.4rem;
                    color: #B89FFF;
                }
            }

            &::-webkit-scrollbar {
                display: none;
            }
        }

    }
}

.answers {
    margin-top: 14rem;

    @include breakpoint($xl-bp) {
        margin-top: 10rem;
    }

    @include breakpoint($sm-bp) {
        margin-top: 6.4rem;
    }

    .answers-content {
        display: flex;
        flex-wrap: wrap;
        column-gap: 3rem;
        row-gap: 1.6rem;
        justify-content: space-between;
        margin-top: 7.2rem;

        @include breakpoint($xl-bp) {
            margin-top: 3.2rem;
        }

        @include breakpoint($sm-bp) {
            margin-top: 4rem;
        }

        .answers-content__item {
            background: #F8F8F8;
            border-radius: 3rem;
            overflow: hidden;
            width: 48.1%;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include breakpoint($sm-bp) {
                width: 100%;
            }

            .answers-content__accordion {
                // background: #F8F8F8;
                // border-radius: 3rem;
                cursor: pointer;
                padding: 1.9rem 3.2rem;
                width: 100%;
                text-align: left;
                border: none;
                outline: none;
                transition: 0.4s;

                font-weight: 400;
                font-size: 1.4rem;
                line-height: 2rem;
                text-transform: uppercase;
                color: #15112B;
                background: #F8F8F8;

                // @include breakpoint($xl-bp) {
                //     font-size: 1.6rem;
                //     line-height: 2.2rem;
                // }

                @include breakpoint($sm-bp) {
                    padding: 1.5rem;
                }
            }
            
            .active, .answers-content__accordion:hover {
                // background-color: #ccc;
            }
            
            .answers-content__panel {
                // padding: 1.2rem 3.2rem 1.9rem 3.2rem;
                padding-left: 3.2rem;
                padding-right: 3.2rem;
                // background: #F8F8F8;
                max-height: 0;
                overflow: hidden;
                transition: all 0.2s ease-out;
                background: #F8F8F8;

                font-weight: 400;
                font-size: 1.4rem;
                line-height: 2rem;
                color: #262433;

                @include breakpoint($jb-bp) {
                    font-size: 1.8rem;
                    line-height: 2.2rem;
                }

                @include breakpoint($sm-bp) {
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
                    font-size: 1.4rem;
                    line-height: 2rem;
                }
                

                // border-top-right-radius: 0rem;
                // border-top-left-radius: 0rem;
                // border-bottom-right-radius: 3rem;
                // border-bottom-left-radius: 3rem;
            }
            
        }
    }
}

.contacts {
    margin-top: 14rem;

    @include breakpoint($xl-bp) {
        margin-top: 10rem;
    }

    @include breakpoint($sm-bp) {
        margin-top: 6.4rem;
    }

    .contacts-content {
        display: flex;
        gap: 3rem;
        justify-content: space-between;

        @include breakpoint($jb-bp) {
            flex-direction: column;
        }

        @include breakpoint($sm-bp) {
            gap: 1.6rem;
        }

        .contacts-content__text {
            padding: 4.8rem;
            background: #F8F8F8;
            border-radius: 4rem;
            width: 48.864%;

            @include breakpoint($xl-bp) {
                padding: 2.5rem;
            }

            @include breakpoint($jb-bp) {
                width: 100%;
            }

            @include breakpoint($sm-bp) {
                padding: 4rem 2.8rem 5rem 2.8rem;
            }

            p {
                font-weight: 400;
                font-size: 1.8rem;
                line-height: 2.4rem;
                color: #15112B;
                margin-top: 2.6rem;

                @include breakpoint($sm-bp) {
                    margin-top: 2.2rem;
                    font-size: 1.4rem;
                    line-height: 2rem;
                }
            }

            .contacts-content__links {
                display: flex;
                flex-direction: column;
                gap: 1.3rem;
                margin-top: 2.4rem;

                @include breakpoint($sm-bp) {
                    margin-top: 1.2rem;
                }

                a {
                    text-decoration: none;
                    display: flex;
                    gap: 0.8rem;
                    align-items: center;

                    span {
                        font-weight: 500;
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                        color: #262433;

                        @include breakpoint($jb-bp) {
                            font-size: 2rem;
                            line-height: 2.4rem;
                        }

                        @include breakpoint($sm-bp) {
                            font-size: 1.4rem;
                            line-height: 2.4rem;
                        }
                    }

                    svg {
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }
        }


        .contacts-content__map {
            border-radius: 4rem;
            overflow: hidden;
            width: 48.9%;

            @include breakpoint($jb-bp) {
                width: 100%;
            }

            @include breakpoint($sm-bp) {
                height: 35.6rem;
                border-radius: 3rem;
            }

            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }
}