<footer class="footer pagePadding">
    <div class="footer-content">
        <div class="footer-content__links">
            <a class="footer-content__logo" href="/">
                <!-- <svg>
                    <use href="#footerLogo"></use>
                </svg> -->

                <img src="./assets/images/footerLogo.svg" alt="#">
            </a>

            <div class="footer-content__helper">
                <div class="footer-content__list">
                    <ul>
                        <li><a href="/#aboutSchool">О школе</a></li>
                        <li><a href="/#ourTeachers">Преподаватели</a></li>
                        <li><a href="/#reviews">Отзывы</a></li>
                    </ul>

                    <ul>
                        <li><a href="/#price">Стоимость</a></li>
                        <li><a href="/#students">Выступления учеников</a></li>
                        <li><a href="/#blog">Блог</a></li>
                    </ul>
                </div>

                <div class="footer-content__contacts">
                    <a href="tel:+79265367508" class="header-content__phoneContainer">
                        <svg>
                            <use href="#whatsAppIco"></use>
                        </svg>

                        <p>+7 (926) 536 75 08</p>
                    </a>

                    <div class="footer-content__socialMedia">
                        <a href="#">
                            <svg>
                                <use href="#tgIco"></use>
                            </svg>
                        </a>

                        <a href="#">
                            <svg>
                                <use href="#instIco"></use>
                            </svg>
                        </a>

                        <a href="#">
                            <svg>
                                <use href="#vkIco"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-content__confidence">
            <p>©ШКОЛА МЮЗИКЛА СТАСА ЧУНИХИНА . Все права защищены.</p>
            <a href="#">Политика конфиденциальности</a>
        </div>
    </div>

    <div id="stanislavModal" class="personalModal">
        <div class="personalModal-content">
            <span class="close">&times;</span>
            <div class="personalModal-content__information">
                <div class="personalModal-content__img">
                    <img src="./assets/images/swiperImg1.jpg" alt="#">
                </div>

                <div class="personalModal-content__textContainer">
                    <div class="personalModal-content__titleContainer">
                        <p class="personalModal-content__title">Станислав Чунихин</p>
                        <p class="personalModal-content__subTitle">Педагог-хореограф Основатель школы</p>
                    </div>

                    <div class="personalModal-content__text">
                        <p>Окончил Московский Государственный Университет Культуры и Искусств, по специальности
                            художественный руководитель хореографического коллектива, преподаватель.</p>
                        <p>Лауреат международного конкурса Лидер года. Участвовал в церемонии закрытия Олимпийских игр
                            2010 года в Ванкувере.</p>
                        <p>Солист балета мюзикла «Монте-Кристо» и «Анна Каренина».</p>
                        <p>Участвовал в мюзиклах «Мамма Мия», «Призрак оперы», «Золушка», исполнитель главной роли
                            в мюзикле «Поющие под дождём».</p>
                        <p>Педагог с большим профессиональным стажем в обучении детей.</p>
                    </div>
                </div>
            </div>

            <div class="swiper personalPartfolioSwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="personalModal-content__portfolioItem">
                            <div class="personalModal-content__img">
                                <img src="./assets/images/portfolioImg1.jpg" alt="#">
                            </div>
                            <p>Мюзикл «Поющие под дождём» с Анастасией Стоцкой</p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="personalModal-content__portfolioItem">
                            <div class="personalModal-content__img">
                                <img src="./assets/images/portfolioImg2.jpg" alt="#">
                            </div>
                            <p>Мюзикл «Поющие под дождём»</p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="personalModal-content__portfolioItem">
                            <div class="personalModal-content__img">
                                <img src="./assets/images/portfolioImg3.jpg" alt="#">
                            </div>
                            <p>Мюзикл «Анна Каренина»</p>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" class="personalModal-content__portfolioItem">
                            <div class="personalModal-content__img">
                                <img src="./assets/images/portfolioImg1.jpg" alt="#">
                            </div>
                            <p>Мюзикл «Поющие под дождём» с Анастасией Стоцкой</p>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" class="personalModal-content__portfolioItem">
                            <div class="personalModal-content__img">
                                <img src="./assets/images/portfolioImg1.jpg" alt="#">
                            </div>
                            <p>Мюзикл «Поющие под дождём» с Анастасией Стоцкой</p>
                        </a>
                    </div>
                </div>
                
            </div>

            <div class="ourTeachers-content__arrows">
                <button class="personalPartfolioSwiper__leftArrow">
                    <svg>
                        <use href="#arrow"></use>
                    </svg>
                </button>
    
                <button class="personalPartfolioSwiper__rightArrow">
                    <svg>
                        <use href="#arrow"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <div id="compliteSend" class="compliteSend">
        <div class="compliteSend-content">
            <span class="close">&times;</span>
            <h2>Модальное окно</h2>
            <p>Это модальное окно. Нажмите вне окна, чтобы закрыть его.</p>
        </div>
    </div>
</footer>