<footer class="footer pagePadding">
    <div class="footer-content">
        <div class="footer-content__links">
            <a class="footer-content__logo" href="./">
                <img src="./assets/images/footerLogo.svg" alt="#">
            </a>

            <div class="footer-content__helper">
                <div class="footer-content__list">
                    <ul>
                        <li><a href="./#aboutSchool">О школе</a></li>
                        <li><a href="./#ourTeachers">Преподаватели</a></li>
                        <li><a href="./#reviews">Отзывы</a></li>
                    </ul>

                    <ul>
                        <li><a href="./#price">Стоимость</a></li>
                        <li><a href="./#students">Выступления учеников</a></li>
                        <li><a href="./#blog">Блог</a></li>
                    </ul>
                </div>

                <div class="footer-content__contacts">
                    <a href="tel:+79265367508" class="header-content__phoneContainer">
                        <svg>
                            <use href="#whatsAppIco"></use>
                        </svg>

                        <p>+7 (926) 536 75 08</p>
                    </a>

                    <div class="footer-content__socialMedia">
                        <a href="https://t.me/himki_musical" target="_blank">
                            <svg>
                                <use href="#tgIco"></use>
                            </svg>
                        </a>

                        <a href="https://www.instagram.com/himki_musical/" target="_blank">
                            <svg>
                                <use href="#instIco"></use>
                            </svg>
                        </a>

                        <a href="https://vk.com/himki_musical" target="_blank">
                            <svg>
                                <use href="#vkIco"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-content__confidence">
            <p>©ШКОЛА МЮЗИКЛА СТАСА ЧУНИХИНА . Все права защищены.</p>
            <a href="./assets/documents/privatPolice.pdf" download>Политика конфиденциальности</a>
        </div>
    </div>

    <div id="stanislavModal" class="personalModal">
        <div class="personalModal-content">
            <span class="close">&times;</span>
        </div>
    </div>

    <button id="compliteSendBtn"></button>
    <div id="compliteSend" class="compliteSend">
        <div class="compliteSend-content">
            <span class="close">&times;</span>
            <h3>Спасибо!<br>Вы записались<br>на пробное занятие</h3>
            <button class="whiteBtn">вернуться на сайт</button>
        </div>
    </div>

    <div id="reviewModal" class="compliteSend">
        <div class="compliteSend-content">
            <span class="close">&times;</span>
            <h3>Оставьте отзыв</h3>
            <div class="reviewModal-content__links">
                <a href="https://yandex.ru/profile/44674587030/?add-review=true">
                    <img src="./assets/images/yandexIco.webp" alt="#">
                </a>
            </div>
            <button class="whiteBtn">вернуться на сайт</button>
        </div>
    </div>
</footer>