<footer class="footer pagePadding">
    <div class="footer-content">
        <div class="footer-content__links">
            <a class="footer-content__logo" href="#">
                <svg>
                    <use href="#footerLogo"></use>
                </svg>
            </a>

            <div class="footer-content__list">
                <ul>
                    <li><a href="#">О школе</a></li>
                    <li><a href="#">Преподаватели</a></li>
                    <li><a href="#">Отзывы</a></li>
                </ul>

                <ul>
                    <li><a href="#">Стоимость</a></li>
                    <li><a href="#">Выступления учеников</a></li>
                    <li><a href="#">Блог</a></li>
                </ul>
            </div>

            <div class="footer-content__contacts">
                <a href="tel:+79265367508" class="header-content__phoneContainer">
                    <svg>
                        <use href="#whatsAppIco"></use>
                    </svg>

                    <p>+7 (926) 536 75 08</p>
                </a>

                <div class="footer-content__socialMedia">
                    <a href="#">
                        <svg>
                            <use href="#tgIco"></use>
                        </svg>
                    </a>

                    <a href="#">
                        <svg>
                            <use href="#instIco"></use>
                        </svg>
                    </a>

                    <a href="#">
                        <svg>
                            <use href="#vkIco"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <div class="footer-content__confidence">
            <p>©ШКОЛА МЮЗИКЛА СТАСА ЧУНИХИНА . Все права защищены.</p>
            <a href="#">Политика конфиденциальности</a>
        </div>
    </div>
</footer>