<header class="header">
    <div class="header-content pagePadding">
        <a class="header-content__logo" href="#">
            <svg>
                <use href="#logo"></use>
            </svg>
        </a>

        <div class="header-content__menuContainer">
            <ul>
                <li><a href="#">О школе</a></li>
                <li><a href="#">Преподаватели</a></li>
                <li><a href="#">Отзывы</a></li>
                <li><a href="#">Стоимость</a></li>
                <li><a href="#">Выступления учеников</a></li>
                <li><a href="#">Блог</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
    
            <a href="tel:+79265367508" class="header-content__phoneContainer">
                <svg>
                    <use href="#whatsAppIco"></use>
                </svg>
    
                <p>+7 (926) 536 75 08</p>
            </a>
        </div>
    </div>
</header>